<div class="item">

    <input [id]="item.description" type="checkbox" (change)="item.done = !item.done" [checked]="item.done" />
    <label [for]="item.description">{{item.description}}</label>
  
    <div class="btn-wrapper" *ngIf="!editable">
      <button class="btn btn-success" (click)="editable = !editable">Edit</button>
      <button class="btn btn-outline-warning" (click)="remove.emit()">Delete</button>
    </div>
  
    <!-- This section shows only if user clicks Edit button -->
    <div *ngIf="editable">
      <input class="sm-text-input form-control" placeholder="edit item" [value]="item.description" #editedItem (keyup.enter)="saveItem(editedItem.value)">
  
      <div class="btn-wrapper">
        <button class="btn btn-outline-light" (click)="editable = !editable">Cancel</button>
        <button class="btn  btn-tertiary btn-save" (click)="saveItem(editedItem.value)">Save</button>
      </div>
    </div>
  
  </div>
  